NODE_ENV=production
PORT=3000
BFF_PORT=3001
BFF_INTERNAL_URL=http://127.0.0.1:3001
DATA_MODE=hybrid
STRAPI_URL=https://cms.istochnik.smitx.ru
STRAPI_API_TOKEN=
STUDIO_API_SECRET=
WEB_REVALIDATE_URL=https://istochnik.smitx.ru/api/revalidate
REVALIDATE_SECRET=
REVALIDATE_TOKEN=
QMS_CHEL_ADDRESS=https://ci74.ru/booking/php/proxy.php?endpoint=
QMS_CHEL_API_KEY=
CHEL_API_ENDPOINT=https://ci74.ru/api/rest.php
