# BFF
BFF_PORT=3001
DATA_MODE=mock
STRAPI_URL=https://cms.istochnik.smitx.ru
# STRAPI_API_TOKEN=

# Studio API (Command Center)
# STUDIO_API_SECRET=generate-random-string
# WEB_REVALIDATE_URL=https://istochnik.smitx.ru/api/revalidate
# REVALIDATE_SECRET=
